@font-face {
  font-family: 'SansOri';
  src: url('./assets/fonts/Oriflame_Fonts/OriflameSans3.0-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SansOri';
  src: url('./assets/fonts/Oriflame_Fonts/OriflameSans3.0-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SansOri';
  src: url('./assets/fonts/Oriflame_Fonts/OriflameSans3.0-Oblique.otf') format('opentype');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'SansOri';
  src: url('./assets/fonts/Oriflame_Fonts/OriflameSans3.0-BoldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: oblique;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'SansOri,sans-serif';
  -webkit-font-smoothing: antialiased;
}
#root {
  /* width: 768px; */
  /* height: 1279px; */
  /* width: 1080px;
  height: 1920px; */
  margin: auto;
  overflow-y: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  background-color: white;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: fill;
  vertical-align: middle;
}
