@font-face {
  font-family: 'SansOri';
  src: url('./assets/fonts/OriflameFonts/OriflameSans3.0-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SansOri';
  src: url('./assets/fonts/OriflameFonts/OriflameSans3.0-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SansOri';
  src: url('./assets/fonts/OriflameFonts/OriflameSans3.0-Oblique.otf') format('opentype');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'SansOri';
  src: url('./assets/fonts/OriflameFonts/OriflameSans3.0-BoldOblique.otf') format('opentype');
  font-weight: 700;
  font-style: oblique;
}

:root {
  --design-width: 768;
  --design-height: 1366;

  --scale: min(
    calc(100vw / var(--design-width)),
    calc(100vh / var(--design-height))
  );
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'SansOri', sans-serif;
  font-size: calc(16px * var(--scale));

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
